.container_home{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    background-color: rgba(241, 239, 239, 0.959);
    border: 2px solid purple;
    border-radius: 10px;
    position: absolute;
    left: 105px;
    top: 105 px;
}

h1{
    font-family:monospace;
    font-size: 50px;
}

p{
    font-size: 20px;
}

.gif_container {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.gif_container img {
    max-width: 600px;       
    height: 300px;
}

.logout_container{
  margin-top: auto;
  display: flex;
  justify-content: center; 
  padding-bottom: 20px; 
}
