body{
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(blue, skyblue);

}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid purple;
    border-radius: 10px;
    margin-top: 7%;
    padding: 50px;
    width: 400px;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.text{
    color: blue;
    font-size: 40px;
    font-weight: bold;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
    
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 100px;
    background-color: skyblue;
    border-radius: 10px;
}

.input input{
    height: 30px;
    width: 200px;
    align-items: center;
    margin: auto;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: rgb(20, 19, 19);
    text-align: center;
}
.select{
    margin-top: 20px;
    color: rgb(66, 64, 64);
}

.submit-container{
    display: flex;
    gap: 20px;
    margin: 40px auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.submit{
    display: flex;
    justify-content: center;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    width: 140px;
    height: 40px;
    align-items: center;
    border-radius: 15px;
    font-size: small;
}

.submit:hover{
    color: blue;
}


.gray{
    color: blue;
    font-size: 25px;
    text-decoration: none;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border: 2px solid purple;
    border-radius: 15px;
    font-size: 43px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    cursor: pointer;
}