.container_home{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    background-color: rgba(241, 239, 239, 0.959);
    border: 2px solid purple;
    border-radius: 10px;
    position: absolute;
    left: 105px;
    top: 50px;
}

.photos_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    gap: 20px; 
    padding: 20px;
    padding-bottom: 40px;
    flex-grow: 1;
}

.photo_item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
}
